## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("D:/Data_Visualization_and_Analytics_Boot_Camp/06_Challenge/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,San Cristobal,VE,68.18,broken clouds,7.7669,-72.2250,San Cristobal
1,5,Mataura,NZ,46.47,clear sky,-46.1927,168.8643,Gore
2,9,Sorland,NO,46.26,overcast clouds,67.6670,12.6934,Sørland
3,19,Busselton,AU,66.90,scattered clouds,-33.6500,115.3333,Busselton
4,20,Plettenberg Bay,ZA,59.56,overcast clouds,-34.0527,23.3716,Plettenberg Bay

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
figure = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
figure.add_layer(marker_layer)

# 4b. Display the figure
figure

Figure(layout=FigureLayout(height='420px'))

In [6]:
NZ_cities_df = vacation_df.loc[(vacation_df["Country"] == "NZ")]
NZ_cities_df.dropna()
NZ_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,5,Mataura,NZ,46.47,clear sky,-46.1927,168.8643,Gore
20,60,Kaeo,NZ,56.32,broken clouds,-35.1000,173.7833,Kaeo
36,83,Waipawa,NZ,43.52,scattered clouds,-41.4122,175.5153,Tora
37,84,Bluff,NZ,46.80,clear sky,-46.6000,168.3333,Bluff
72,146,Kaitangata,NZ,40.39,clear sky,-46.2817,169.8464,Kaitangata

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Mataura",:]
vacation_end = vacation_df.loc[vacation_df["City"]=="Mataura",:]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Waipawa",:]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Bluff",:] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Kaitangata",:]

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure = gmaps.figure()
ways_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")

figure.add_layer(ways_route)
figure

Figure(layout=FigureLayout(height='420px'))

In [27]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Mataura,NZ,46.47,clear sky,-46.1927,168.8643,Gore
1,5,Mataura,NZ,46.47,clear sky,-46.1927,168.8643,Gore
2,83,Waipawa,NZ,43.52,scattered clouds,-41.4122,175.5153,Tora
3,84,Bluff,NZ,46.80,clear sky,-46.6000,168.3333,Bluff
4,146,Kaitangata,NZ,40.39,clear sky,-46.2817,169.8464,Kaitangata

In [28]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map.
fig=gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))